*.pyc
*.swo
*~
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.directory
*.egg-info/
*.db
*.sqlite3
*.swp
*.zip
*.orig
static/.webassets-cache
static/cache
media/*
staticfiles/
*.mmdb
*.DS_Store
*.py___jb_old___
*/package-lock.json
/pyvenv.cfg
*.sublime-*
*/logs
.python-version
*/pgdata/*
.vscode
.flake8
venv/
tmp/
*.log
*.pid